<div class="container container-2">
<div class="row row-2">
<div class="col-sm-4 background-style3">
		<h1><%= current_user.username %></h1>

		<p id="profile_button">My Profile</p>
		<p id="classes_button">My Classes</p>
		<p id="notes_button">My Notes</p>
  </div>
  <div class="col-sm-8 form-spacing">
 <div id="myclasses">
<h2>My Classes</h2>
<p>List of Classes</p>
</div>
<div id="myprofile">
<h2>My Profile</h2>
<p><%= current_user.email %></p>
<p><%= current_user.username %></p>
<p><%= School.find(current_user.school_id).name %></p>
<a class="btn button2 btn-sm" href="/users/edit" role="button">Edit Profile</a>
</div>
<div id="mynotes">
<h2>My Notes</h2>
<div class="notes">
    <% @user_notes.each do |note| %>
      <tr>
        <td><%= note.topic %></td>
        <td><%= note.title %></td>
        <td><%= note.date_taken %></td>
        <td><%= note.key_takeaways %></td>
        <td><%= note.user_id %></td>
        <td><%= note.course_id %></td>
        <td><%= note.text %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</div>
<a class="btn button2 btn-sm" href="/notes/new" role="button">Create Notes</a>
</div>
</div>
</div>
</div>
<script>
	document.getElementById("profile_button").addEventListener("click", profile);
	function profile() {
		document.getElementById('myprofile').style.display="block";
		document.getElementById('myclasses').style.display="none";
		document.getElementById('mynotes').style.display="none";
	};
	document.getElementById("classes_button").addEventListener("click", classes);
	function classes() {
		document.getElementById('myclasses').style.display="block";
		document.getElementById('myprofile').style.display="none";
		document.getElementById('mynotes').style.display="none";
	};
	document.getElementById("notes_button").addEventListener("click", notes);
	function notes() {
		document.getElementById('myprofile').style.display="none";
		document.getElementById('myclasses').style.display="none";
		document.getElementById('mynotes').style.display="block";
	};
</script>