<div class="container space">

<p id="notice"><%= notice %></p>

<div class="row">
<h1>Notes</h1>
</div>
<div class="notes">
    <% @notes.each do |note| %>
        <h2><%= note.title %></h2>
        <h4><%= note.topic %></h4>
        <p><%= note.date_taken %></p>
        <p><%= note.users %></p>
        <p><%= note.courses %></p>
        <div class="takenotice">
        <h6>Take Notice</h6>
        <p><%= note.key_takeaways %></p>
        </div>
        <p><%= note.text %></p>
        <div class="row">
        <p><%= link_to 'View', note, class: "button3" %></p>
        <p><%= link_to 'Edit', edit_note_path(note), class: "button4"%></p>
        <p><%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' }, class: "button4" %></p>
      </div>
    <% end %>
</div>
<div class="row">
<br>

<%= link_to 'New Note', new_note_path, class: "button3" %>
</div>
</div>
