<div class="container space">

<p id="notice"><%= notice %></p>

<div class="row">
<h1>Notes</h1>
</div>
<div class="notes">
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.topic %></td>
        <td><%= note.title %></td>
        <td><%= note.date_taken %></td>
        <td><%= note.key_takeaways %></td>
        <td><%= note.user_id %></td>
        <td><%= note.course_id %></td>
        <td><%= note.text %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</div>
<div class="row">
<br>

<%= link_to 'New Note', new_note_path, class: "button3" %>
</div>
</div>
