<!DOCTYPE html>
<html>
  <head>
    <style>
      .event{
        background-color: lightgray;
        color: black;
      }
    </style>
    <title>Take Note</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Take Note</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/index">About</a>
            </li>
          </ul>
        <span class="navbar-text">
          <% if user_signed_in? %>
            <a class="btn button1 btn-sm" href="/dashboard" role="button">My Account</a>
            <a class="btn btn-light btn-sm" data-method="delete" href="/users/sign_out" role="button">Sign Out</a>
          <% else %>
            <a class="btn button1 btn-sm" role="button" href="/users/sign_in">Sign In</a>
            <a class="btn button2 btn-sm" role="button" href="/users/sign_up">Sign Up</a>
          <%end%>
        </span>
      </div>
      </nav>
        </header>
      <% flash.each do |type, message| %>
        <% if type == "alert" %>
          <div class="event">
            <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
          </div>
        <% end %>
        <% if type == "notice" %>
          <div class="event">
            <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
          </div>
        <% end %>
      <% end %>
    <%= yield %>
  </body>
</html>
