<!DOCTYPE html>
<html>
  <head>
    <style>
      .event{
        background-color: lightgray;
        color: black;
      }
    </style>
    <title>Take Note</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="nav-item active">
                <a class="nav-link" , href="/users/edit">Edit profile</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" data-method="delete" href="/users/sign_out">Sign Out</a>
              </li>
            <% else %>
              <li class="nav-item active">
                <a class="nav-link" , href="/users/sign_up">Sign up</a> 
              </li>
               <li class="nav-item active">
                 <a class="nav-link" , href="/users/sign_in">Sign in</a>
              </li>
           <% end %>
          </ul>
        </div>
      </nav>
    </header>
      <% flash.each do |type, message| %>
        <% if type == "alert" %>
          <div class="event">
            <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
          </div>
        <% end %>
        <% if type == "notice" %>
          <div class="event">
            <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
          </div>
        <% end %>
      <% end %>
    <%= yield %>
  </body>
</html>
