<div class="container-fluid container-2">
  <div class="row row-2">
    <div class="col-sm-8 form-style">
<% content_for :devise_form do %>

  <h2 class="heading text-4xl font-bold pt-4 mb-8">Sign Up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :username, class:"label" %><br />
      <%= f.text_field :username, autofocus: true, class: "input field-box" %>
    </div>

    <div class="form-group">
      <%= f.label :email, class:"label" %><br />
      <%= f.email_field :email, autocomplete: "email", class: "input field-box" %>
    </div>

    <div class="form-group">
      <%= f.label :school, class:"label" %><br />
      <%= f.select :school, School.all.pluck(:name, :id) %>
    </div>

    <div class="form-group">
      <div class="flex">
        <%= f.label :password, class: "label" %>
        <% if @minimum_password_length %>
        <span class="text-xs pl-1 text-grey-dark"><em>(<%= @minimum_password_length %> characters minimum)</em></span>
        <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password", class: "input field-box" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class:"label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input field-box" %>
    </div>

    <div class="mb-6">
      <%= f.submit "Sign Up", class: "btn button2" %>
    </div>

    <hr class="mt-6" />

  <% end %>

<% end %>

<%= render "users/shared/form_warp" %>
</div><!-- End of Column -->
<div class="col-sm-4 background-style">
      <h1>Take Note</h1>
      <p>Notes for students, by students.</p>
      <div class="links-2">
          <%= render "users/shared/links"%>
      </div>
  </div>
</div>
</div>